/* VARIABLES
====================== */
@light-gray: #f2f2f2;
@black: #000000;
@white: #ffffff;

@blue: #2993FC;
@yellow: #FDC22D;

@heading-font: 'paralucent-condensed';
@text-font: 'proxima-nova-soft';

@border-width: 60px;
@border-width-lg: 80px;

@border-width-top: 90px;
@border-width-lg-top: 120px;

@logo-size: 500px;

/* BOOTSTRAP VARS
====================== */

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

/* GENERAL
====================== */

body {
  background-color: @light-gray;
  font-family: @text-font;
  font-weight: 500;
  font-size: 18px;
}

a, a:hover {
  text-decoration: none;
}

p {
  line-height: 2em;
}

h1, h2, h3 {
  font-family: @heading-font;
  font-weight: 600;
}

#top, #bottom, #left, #right {
  background: #fff;
  position: fixed;
}

#left, #right {
  top: 0; bottom: 0;
  width: @border-width;
}

#left { left: 0; }
#right { right: 0; }
    
#bottom, #top {
  left: 0; right: 0;
  // height: @border-width;
}

#bottom { 
  bottom: 0;
  height: @border-width;
  position: relative;
}
#top {
  top: 0;
  height: @border-width-top;
}

/* HEADER
====================== */

header {
  z-index: 1;
  font-weight: 700;
  line-height: @border-width-top;
  // font-size: 1.2em;
  overflow: hidden;
}

header > .wrapper {
  margin: 0 @border-width;
}

header span#title {
  font-size: 1.3em;
}

header .references {
  float: right;
  display: inline-block;
}

header .references > span {
  margin-left: 30px;
}

header .references > span > i {
  margin-right: 5px;
}

header .glyphicon {
  display: inline-block;
  background-color: @black;
  padding: 3px 4px;
  margin: 0;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  overflow: auto;
  color: @white;
  margin-bottom: -3px;
}

header .glyphicon-envelope {
  padding: 3.5px 4.2px;
}

/* BODY
====================== */

body > .wrapper {
  padding: @border-width-top @border-width @border-width;
}

section {
  margin-bottom: 40px;
}

section#main h1 {
  color: @blue;
  font-size: 2.45em;
  line-height: 1.3em;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

section > .wrapper {
  position: relative;
}

section#main h1 > b {
  box-shadow: inset 0px -5px @yellow;
}

section#main br {
  display: none;
}

section#main p {
  max-width: 488px;
  // line-height: 2em;
}

div.links {
  font-weight: 700;
  font-family: @heading-font;
  text-transform: uppercase;
  margin-top: 30px;
}

div.links a {
  border: solid 3px @yellow;
  padding: 5px 10px;
  color: #000;
  margin-right: 30px;
}

div.links .glyphicon {
  display: inline-block;
  background-color: @black;
  padding: 2px 3px;
  margin: 0;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  font-size: 14px;
  overflow: auto;
  color: @white;
  margin-bottom: -3px;
  margin-right: 5px;

  display: none;
}

section#main div#logo {
  background: url("../img/logo5.png") 0px 0px no-repeat;
  background-size: @logo-size;
  width: @logo-size;
  height: @logo-size;
  position: absolute;
  right: 0;
  top: -60px;
  margin-right: 100px;
}

section#main h1 > br {
  display: inline;
}

section#main div#intro {
  margin-left: 100px;
  margin-top: 100px;
}

.arrow-down {
  background: url("../img/arrow-down.png") 0px 0px no-repeat;
  background-size: 90px 40px;
  width: 90px;
  height: 40px;
  margin: 120px auto 30px;
}

section div.main-title {
  text-align: center;
  margin-top: 80px;
}

section div.main-title > h1 {
  margin-top: 0;
  font-size: 2.4em;
  color: @blue;
  margin-bottom: 20px;
  line-height: 1.15em;
}

section div.main-title > h2 {
  font-family: @text-font;
  font-weight: 900;
  margin-bottom: 10px;
}

section div.main-title > hr {
  border: none;
  height: 5px;
  background-color: @yellow;
  max-width: 150px;
  margin: 0px auto 40px;
}

section#quienes > .wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

section#quienes > .wrapper > h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 30px;
  color: @yellow;
}

section#quienes > .wrapper > h2.secondary {
  color: @black;
  margin-left: 10px;
}

section#quienes > .wrapper > p {
  max-width: 620px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.1%; /* 16:9 */
  padding-top: 0px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section#quienes > .wrapper > .col-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 420px;
  // margin-right: 100px;
  margin-top: 250px;
}

section#trabajo div.videos > ul {
  // border: 4px solid @yellow;
  overflow: auto;
}

section#trabajo div.videos > ul {
  list-style: none;
  margin: 0;
  padding: 0 85px;
}

section#trabajo div.videos > ul > li {
  width: 33.3333%;
  float: right;
  padding: 15px;
}

section#clientes div.clients {
  width: 80%;
  margin: 0 auto;
}

section#clientes .main-title h2 {
  margin-top: 0;
}

section#clientes .main-title hr {
  margin-top: 20px;
}

section#clientes div.clients > ul {
  padding: 0;
  list-style: none;
  // width: 80%;
  margin: 0 auto;
  text-align: center;
}

section#clientes div.clients > ul > li {
  width: 20%;
  // float: right;
  display: inline-block;
}

section#clientes div.clients > ul#r2 {
  width: 75%;
  float: none;
}

section#clientes div.clients > ul > li > img {
  width: 100%;
}

section#faq {
  padding-bottom: 50px;
}

section#faq div.questions {
  width: 80%;
  margin: 0 auto;
}

section#faq div.questions > ul {
  // list-style: square inside url('../img/checkmark.png');
  padding: 0;
}

section#faq div.questions > ul > li > ul > li {
  line-height: 2em;
}

section#faq div.questions > ul > li > div.links {
  margin-top: 0;
}

section#faq div.questions > ul > li {
  margin-bottom: 20px;
}

section#faq div.questions > ul > li > a > h3 {
  font-size: 1.4em;
  // margin-top: 25px;
  color: @blue;
  box-shadow: inset 0px -2px @yellow;
  border-bottom: solid 2px @yellow;
  display: inline-block;
  margin-bottom: 10px;
}

section#main .links {
  font-size: 1.3em;
}

section#numbers {
  // background-color: #fff;
  padding: 0px 0 30px;
  overflow: hidden;
}


section#numbers::after {
  content: " ";
  overflow: auto;
}

section#numbers div.main-title {
  margin: 0;
}

section#numbers div.numbers > ul {
  list-style: none;
  padding: 0;
  font-size: 1.25em;
  width: 80%;
  margin: 0 auto;
}

section#numbers div.numbers > ul > li {
  width: 33.33%;
  float: left;
  text-align: center;
}

section#numbers div.numbers > ul > li > span {
  font-weight: 800;
  font-size: 2.4em;
}

section#numbers div.numbers > ul > li > h3 {
  margin: 0;
}

section#info {
  // clear: both;
}

section#info div.contact > ul {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

section#info div.contact > ul > li {
  width: 33.33%;
  float: left;
  text-align: center;
}

section#info div.contact .glyphicon {
  font-size: 2.8em;
  color: @blue;
}

section#info div.contact h3 {
  margin-top: 10px;
  font-size: 1.3em;
  margin-bottom: 5px;
}

section#info div.contact span {
  color: #999;
  font-size: 0.9em;
}

section {
  // overflow: auto;
  padding-bottom: 30px;
}


#contact-area {
  width: 600px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 1em;
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 471px;
  font-family: Helvetica, sans-serif;
  
  margin: 0px 0px 10px 0px;
  border: 2px solid #ccc;
  // web
}

#contact-area textarea {
  height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #900;
}

#contact-area input.submit-button {
  width: 120px;
  display: inline-block;
  float: right;
  font-family: @heading-font;
  text-transform: uppercase;
  color: @blue;
  border: 4px solid @yellow;
  background-color: transparent;
  margin-right: 15px;
  font-size: 1.5em;
  // margin-top: -10px;
  padding: 2px 10px;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
  padding-top: 5px;
  font-size: 1.2em;
}

img.collapse-btn {
  width: 25px;
  margin-left: 5px;
  margin-top: -8px;
}

/* MEDIA QUERIES
====================== */

@media screen and (max-width: 1380px) {
  @border-width: 40px;

  #left, #right {
    top: 0; bottom: 0;
    width: @border-width;
  }

  body > .wrapper {
    padding: @border-width-top @border-width @border-width;
  }

  section#main div#logo {
    margin-right: 50px;
    margin-left: 50px;
  }

  section#main div#intro {
    margin-left: 50px;
    // margin-top: 50px;
  }

  section#quienes > .wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }

  section#quienes > .wrapper > .col-right {
    width: 350px;
  }

  section#trabajo div.videos > ul {
    padding: 0 35px;
  }

  section#clientes div.clients {
    width: 100%;
  }

  section#faq div.questions {
    width: 100%;
    padding: 0 50px 0 70px;
  }

  section#numbers div.numbers > ul {
    width: 100%;
    padding: 0 50px;
  }

  section#info div.contact > ul {
    width: 100%;
    padding: 0 50px;
  }
}

@media screen and (max-width: 1185px) {

  @logo-size: 400px;

  section#main div#logo {
    background-size: @logo-size;
    width: @logo-size;
    height: @logo-size;
    margin-top: 30px;
  }

  section#quienes > .wrapper > p {
    max-width: 520px;
  }


}

@media screen and (max-width: 1085px) {
  section#main div#logo {
    display: none;
  }

  section#quienes .col-right {
    display: none;
  }

  section#main p {
    max-width: 100%;
    margin-right: 50px;
  }

  section#quienes > .wrapper > p {
    max-width: 100%;
  }


}

@media screen and (max-width: 820px) {

  header > .wrapper {
  margin: 0 50px;
}

  #left, #right {
    top: 0; bottom: 0;
    width: 0;
  }

  header .references {
    padding-top: 15px;
  }

  header .references span {
    // float: right;
    display: block;
    line-height: 30px;
  }

  body > .wrapper {
    padding: @border-width-top 0 @border-width;
  }

  section#trabajo div.videos > ul > li {
    padding: 5px;
  }
}

@media screen and (max-width: 615px) {
  body {
    font-size: 16px;
  }

  section#main h1 > br{
    display: none;
  }

  section#main h1 {
    padding-right: 50px;
  }

  div.links a {
    display: inline-block;
    margin-bottom: 10px;
  }

  #contact-area {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 1em;
    padding: 0 50px;
  }

  #contact-area input, #contact-area textarea {
    padding: 5px;
    width: 100%;
    font-family: Helvetica, sans-serif;
    
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
    // web
  }

  #contact-area textarea {
    height: 90px;
  }

  #contact-area textarea:focus, #contact-area input:focus {
    border: 2px solid #900;
  }

  #contact-area input.submit-button {
    width: 120px;
    display: inline-block;
    float: right;
    font-family: @heading-font;
    text-transform: uppercase;
    color: @blue;
    border: 4px solid @yellow;
    background-color: transparent;
    margin-right: 15px;
    font-size: 1.5em;
    // margin-top: -10px;
    padding: 2px 10px;
  }

  label {
    float: left;
    text-align: left;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 1.2em;
  }

}


@media screen and (max-width: 785px) {

  body > .wrapper {
    padding-top:  20px;
  }

  section#main div#logo {
    margin-right: 20px;
    margin-left: 20px;
  }

  section#main div#intro {
    margin-left: 20px;
    // margin-top: 50px;
  }

  section#quienes > .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }

  section#main h1 {
    padding-right: 0px;
  }

  section#main p {
    margin-right: 20px;
  }

  header > .wrapper {
    margin: 0 20px;

  }

  #top {
    // height: 70px;
    // line-height: 70px;
  }

  section#trabajo div.videos > ul >li {
    float: none;
    width: 100%;
  }

  section#clientes div.clients > ul > li {
    float: none;
    width: 60%;
  }

  section#numbers div.numbers > ul > li,
  section#info div.contact > ul > li {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }

  section#faq div.questions > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  section#faq div.questions {
    padding: 0 20px;
  }

  section#faq div.questions > ul > li > a > h3 {
    display: block;
    box-shadow: none;
    border: solid 4px @yellow;
    padding: 5px 5px;
  }

    section#faq div.questions > ul > li > a > img {
    display: none;
  }
}


